#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    background-color: var(--purple-500);
    color: var(--white-50);

    img {
      max-width: 320px;
    }

    strong {
      font-size: 36px;
      font-family: "Poppins", sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 24px;
      line-height: 35px;
      margin-top: 16px;
      color: var(--white-200);
    }
  }

  main {
    flex: 8;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      width: 100%;
      max-width: 320px;

      text-align: center;

      img {
        align-self: center;
      }

      h2 {
        font-size: 24px;
        margin: 64px 0 24px;
        font-family: "Poppins", sans-serif;
      }

      form {
        input {
          height: 50px;
          border: 1px solid var(--gray-500);
          border-radius: 8px;
          padding: 0 16px;
          background-color: var(--white-50);
        }

        button {
          margin-top: 16px;
        }

        button,
        input {
          width: 100%;
        }
      }

      p {
        font-size: 14px;
        color: var(--gray-600);
        margin-top: 16px;

        a {
          color: var(--purple-400);
          transition: filter 0.2s;

          &:hover {
            filter: brightness(0.8);
          }
        }
      }
    }
  }

  .create-room {
    margin-top: 64px;
    height: 50px;
    font-weight: 500;

    background-color: var(--red-500);
    color: var(--white-50);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    border: 0;

    transition: filter 0.2s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.8);
    }
  }

  .separator {
    font-size: 14px;
    color: var(--gray-500);
    height: 100%;

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      flex: 1;
      height: 1px;
      margin-right: 16px;
      background-color: var(--gray-500);
    }

    &::after {
      content: "";
      flex: 1;
      height: 10px;
      margin-left: 16px;
      background-color: var(--gray-500);
    }
  }
}
