.button {
  padding: 0 32px;
  height: 50px;
  font-weight: 500;

  background-color: var(--purple-500);
  color: var(--white-50);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 0;

  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background-color: var(--white-50);
    border: 1px solid var(--purple-500);
    color: var(--purple-500);
    transition: all 0.2s;

    &:hover {
      background-color: var(--purple-500);
      color: var(--white-50);
      filter: none !important;
    }
  }

  &:not(:disabled):hover {
    filter: brightness(0.8);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
