.question {
  background-color: var(--white-75);
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  &.answered {
    background-color: var(--gray-400);

    .question-user-info span {
      color: var(--gray-700);
    }
  }

  &.highlighted {
    background-color: var(--white-150);
    border: 1px solid var(--purple-500);

    .question-user-info span {
      color: var(--gray-700);
    }
  }

  p {
    color: var(--gray-700);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    button {
      border: 0;
      background: transparent;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--gray-600);
        gap: 8px;

        &.liked {
          color: var(--purple-500);

          svg path {
            stroke: var(--purple-500);
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }

    .question-user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 9999px;
      }

      span {
        margin-left: 8px;
        color: var(--gray-600);
        font-size: 14px;
      }
    }
  }

  .question-children {
    display: flex;
    gap: 16px;
  }

  .answerButton {
    &.answeredButton {
      svg path,
      svg circle {
        stroke: var(--purple-500);
      }
    }
  }

  .highlightButton {
    &.highlightedButton {
      svg path {
        stroke: var(--purple-500);
      }
    }
  }
}
